// text 
.txt-boldCenter
  font-weight: 700
  text-align: center
  
//imagenes
.img65
  width: 65px
.img85
  width: 85px
.img100
  width: 100px
.img130
  width: 130px
.img150
  width: 150px
.img200
  width: 200px
.img250
  width: 250px
.img300
  width: 300px
.img350
  width: 350px
.img385
  max-width: 385px
.img400
  max-width: 400px
.img430
  max-width: 430px
.img450
  max-width: 450px
.img500
  max-width: 500px
.img600
  max-width: 600px
.img630
  max-width: 630px
.img800
  max-width: 800px

//Tarjetas
.crd
  padding: 1.5rem
  height: 100%
  &.crd--white
    background-color: white
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  &.crd--brad
    border-radius: 15px
  &.crd--slyder
    border-radius: 15px
    background-image: url("../assets/curso/tema1/bg7.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
  &.crd--slyder2
    border-radius: 15px
    background-image: url("../assets/curso/tema1/bg8.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
  &.crd--slyder3
    border-radius: 15px
    background-image: url("../assets/curso/tema1/bg9.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
  &.crd--infoB
    border-radius: 15px
    background-image: url("../assets/curso/tema2/bg1.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
  &.crd--hover
    max-width: 350px
    border-radius: 15px
    background-color: #FED981
    transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1)
    &:hover
      background-color: #A4A3FF

// Cajones de color
.cjn-rosa
  position: relative
  background-color: #FFE0DD
  &::before
    background-color: #FF8578

.cjn--gris
  position: relative
  background-color: #F7F7F7
  &::before
    background-color: #B0C0D2

.cjn--amarillo
  position: relative
  background-color: #FFF9E6
  &::before
    background-color: #E6A712

.bulb--icon  
  position: absolute
  bottom: -2rem
  right: 0
  width: 100px
  height: 100px
  background-image: url("../assets/curso/tema1/ico6.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center center

///////// Llamado a la acción 
.txt-mg--left
  margin-left: 6rem
  @media only screen and (max-width: 1200px)
    margin: 0
    padding: 0 2.5rem

.txt-mg--right
  margin-right: 6rem
  @media only screen and (max-width: 1200px)
    margin: 0
    padding: 0 2.5rem

.bubble--left
  position: absolute !important
  top: 60%
  left: 0
  transform: translateY(-50%)
  width: 65px
  height: 115px
  background-image: url("../assets/curso/bubble_left.png")
  background-repeat: no-repeat
  @media only screen and (max-width: 1200px)
    display: none

.bubble--right
  position: absolute !important
  top: 60%
  right: 0
  transform: translateY(-50%)
  width: 70px
  height: 125px
  background-image: url("../assets/curso/bubble_right.png")
  background-repeat: no-repeat
  @media only screen and (max-width: 1200px)
    display: none

.dots--left
  position: absolute !important
  bottom: 1.5rem
  left: 3rem
  transform: translateY(-50%)
  width: 127px
  height: 18px
  background-image: url("../assets/curso/dots.svg")
  background-repeat: no-repeat
  @media only screen and (max-width: 1200px)
    display: none

.dots--right
  position: absolute !important
  bottom: 1.5rem
  right: 3rem
  transform: translateY(-50%)
  width: 127px
  height: 18px
  background-image: url("../assets/curso/dots.svg")
  background-repeat: no-repeat
  @media only screen and (max-width: 1200px)
    display: none
    
.cta--purple
  position: relative  
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 80%
    border-radius: 15px
    background-color: #7181F4

  @media only screen and (max-width: 999px)
    &::before     
      height: 100% 

.cta--purple2
  position: relative  
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 80%
    border-radius: 15px
    background-color: #9aa6fa

  @media only screen and (max-width: 999px)
    &::before     
      height: 100% 

.cta--yellow
  position: relative  
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 80%
    border-radius: 15px
    background-color: #FED981

  @media only screen and (max-width: 999px)
    &::before     
      height: 100%    

.cta--rosa
  position: relative  
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 80%
    border-radius: 15px
    background-color: #FF9D92

  @media only screen and (max-width: 999px)
    &::before     
      height: 100%   

.cta--rosa2
  position: relative  
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 80%
    border-radius: 15px
    background-color: #FFABA2

  @media only screen and (max-width: 999px)
    &::before     
      height: 100% 

// Tabla B
.tabla-b__header
  border-top: 5px solid #FED981

.tabla-b td
  border-bottom: 3px solid #fff
.tabla-b th
  border-bottom: 3px solid #fff
.cell--gray
  background-color: rgba(232, 232, 232, 0.4) !important

// Citas
.bloque-texto-d.color-secundario:before
  background-color: #FFF8E6 !important

.bloque-texto-d i
  font-size: 1.8em !important

// Imagen infografica tipo B

.img-infografica-b__modal__contenido
  position: absolute
  top: 50%  
  transform: translateY(-50%)  

.img-infografica-b.color-acento-contenido .img-infografica-b__item__dot:before, .img-infografica-b.color-acento-contenido .img-infografica-b__item__dot:after
  background-color: #EE0138 !important

.img-infografica-b.color-acento-contenido .img-infografica-b__item__numero
  color: white !important

/// Separadores
.hr--line
  margin-bottom: 1.5rem
  width: 100%
  height: 2px
  background-color: #AFAFAF

.bg--rectangle
  position: relative
  & > *
    position: relative
  &::before
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 100%
    height: 40%
    background-color: #FFF3CD


///////////////////////////////////////////////  


i.fas.fa-info.sd
  color: white
.banner-interno__fondo
  background-image: url("../assets/curso/fondo-banner-interno.png") !important
  background-repeat: no-repeat    
//tema 1
.bg1
  padding: 2rem 0
  background: linear-gradient(90deg, rgba(255,243,205,1) 0%, rgba(255,255,255,1) 40%)
  background-repeat: no-repeat  
  @media (max-width: 1000px)
    background: linear-gradient(180deg, rgba(255,243,205,1) 0%, rgba(255,255,255,1) 40%)

.bg--gris
  padding: 1.5rem
  background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 40%)
  background-repeat: no-repeat  
  @media (max-width: 1000px)
    background: linear-gradient(180deg, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 40%)
  

.bg1A
  padding-top: 2rem
  padding-bottom: 2rem
  background: linear-gradient(-90deg, rgba(255,243,205,1) 0%, rgba(255,255,255,1) 70%);
  background-repeat: no-repeat  
  @media (max-width: 1000px)
    background: linear-gradient(0deg, rgba(255,243,205,1) 0%, rgba(255,255,255,1) 40%)

.bg2  
  background-image: url("../assets/curso/tema1/img8.png") 

.bg3
  position: relative
  &::before
    content: ''
    position: absolute
    top: -3rem
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/bg2.png") 
    background-repeat: no-repeat

.bg4
  background-image: url("../assets/curso/tema1/bg3.png") 
  background-repeat: no-repeat  

.bg5
  background-image: url("../assets/curso/tema1/bg4.png") 
  background-repeat: no-repeat  

.bg6
  background-image: url("../assets/curso/tema1/bg10.png") 
  background-repeat: no-repeat 

.bg22
  background-image: url("../assets/curso/tema1/img17.png") 
  background-repeat: no-repeat 

.bg33
  background-image: url("../assets/curso/tema1/bg6.png") 
  background-repeat: no-repeat 
  background-position: 400px -10px
    
.bg44
  background-image: url("../assets/curso/tema1/img28.png")
  background-repeat: no-repeat 

.bg55
  background-image: url("../assets/curso/tema1/img29.png")
  background-repeat: no-repeat 

.bg88
  background-image: url("../assets/curso/tema1/bg8.png")
  background-repeat: no-repeat 

.bg99
  background-image: url("../assets/curso/tema1/bg9.png")
  background-repeat: no-repeat 


a.boton.color-acento-botones.texto-blanco.mt-4
  margin-left: 180px
.ps
  margin-left: auto
  margin-right: auto
  width: 75px
.tarjeta-flip__contenido.p-4.p-xl-5
  padding: 2rem!important;
.tarjeta-flip.color-acento-contenido .tarjeta-flip__img 
    background-color: #FEA59C
.tarjeta-flip.color-primario .tarjeta-flip__img 
    background-color: #FDE4A9

.tabla-b th  
  width: 340px

td 
  background-color: #F6F6F6
.tabla-b__header
  text-align: left;
.it
  font-style: italic
.aa
  margin-top: -100px
.bb
  position: relative
  margin-top: -150px
  z-index: 1
.bbb
  position: relative
  margin-top: -350px
  margin-left: -30px
  z-index: 1


.img-infografica-b__modal__contenido div > *
  color: #12263F !important;


.bginfo
  background-color: #FFF3CD
.tabla-a.color-primario thead 
  background-color: #fbe4ae
  border-color:#fbe4ae

//1 continuidad
.bg555
  background-image: url("../assets/curso/tema2/img1.png")
  background-repeat: no-repeat  
.bg556
  background-image: url("../assets/curso/tema2/bg1.png")
  background-repeat: no-repeat  
.bg557
  background-image: url("../assets/curso/tema2/img11.png")
  background-repeat: no-repeat  
.bg559
  background-image: url("../assets/curso/tema2/bg2.png")
  background-repeat: no-repeat
.bgcolor
  background-color: #F8D4CF
.pad
  padding: 40px
.bg558
  background-image: url("../assets/curso/tema2/bg3.png")
  background-repeat: no-repeat  
.bg560
  background-image: url("../assets/curso/tema2/img16.png")
  background-repeat: no-repeat  
a.boton.color-acento-botones.texto-blanco.mt-2
  margin-top: 40px
//tema 2
.bg112
  background-image: url("../assets/curso/tema3/bg2.png")
  background-repeat: no-repeat
.aqs
  margin-top: -50px
  margin-left: 20px


.wid
  width: 150px
  margin-right: auto
  margin-left: auto
.bac
  background-color: #FFF3CD
.mars
  margin-right: auto
  margin-left: auto
.bg113
  background-image: url("../assets/curso/tema3/bg3.png")
  background-repeat: no-repeat  
  background-position: 0px 80px

.wid2
  width: 200px
.wid3
  width: 250px
.tabla-a.color-secundario thead
  background-color: #FFC2BC
  border-color: #FFC2BC
//tema3
.bg311
  background-image: url("../assets/curso/tema4/bg1.png")
  background-repeat: no-repeat  
.fon33
  background-color: #FED981

.col-lg-6.fon33.p-4:hover
  background-color: #A4A3FF
  width: 350px
  height: 470px

.bg312
  background-image: url("../assets/curso/tema4/img12.png")
  background-repeat: no-repeat  
.ss
  width: 100%
.sss
  width: 72%
  @media only screen and (max-width: 999px)
    width: 100% 

.img-infografica__item
  width: 4.5%
.img-infografica.color-secundario .img-infografica__item__dot:before  
  background-color: #F1FF24
.img-infografica.color-secundario .img-infografica__item__dot:after
  background-color: #F1FF24
.tarjeta.color-acento-botones *
  color:#12263F
.tarjeta.color-acento-botones
  background-color: #FFCC00    
.bg313
  background-image: url("../assets/curso/tema4/bg2.png")
  background-repeat: no-repeat  
//correciones
  
.boton *
  color: white

.tarjeta-flip.color-acento-contenido .tarjeta-flip__contenido
  background-color: #FFC2BC
.tarjeta-flip.color-primario .tarjeta-flip__contenido
  background-color: #FFF3CD

.ax
  width: 67%
  @media only screen and (max-width: 999px)
    width: 100% 
.wid5
  width: 200px
.aq
  margin-left: 300px !important
.margl
  margin: 16px

.etiqueta1
  color: #CE27E8
.etiqueta2
  color: #719745
.etiqueta3
  color: #5263E2

.zzz
  width: 50px
.pax
  margin-left: 20px
.ann
  margin-left: -300px
.amm
  margin-top: -450px
  margin-right: -400px 
.wax
  width: 60px
.maxx
  margin-left: 20px
.qqq
  margin-left: 40px
table th
  line-height: 2
.ppp
  margin-right: 100px
.waaaq
  width: 100px
  margin-left: 40px
.lista-ol--cuadro__vineta
  background-color: #FF4A36
//backgrounds
.bgne
  background-image: url("../assets/curso/backs/bg1.png")
  background-repeat: no-repeat 
.bgne2 
  background-image: url("../assets/curso/backs/bg2.png")
  background-repeat: no-repeat 
.bgne3
  background-image: url("../assets/curso/backs/bg3.png")
  background-repeat: no-repeat
.bgne4
  background-image: url("../assets/curso/backs/bg4.png")
  background-repeat: no-repeat
.bgne5
  background-image: url("../assets/curso/backs/bg5.png")
  background-repeat: no-repeat
.bgne6
  background-image: url("../assets/curso/backs/bg6.png")
  background-repeat: no-repeat
.bgne7
  background-image: url("../assets/curso/backs/bg7.png")
  background-repeat: no-repeat
.wxxx
  width: 550px
.wid222
  width: 350px
  margin-right: auto
  margin-left: auto